* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #1462f4;
  overflow: hidden;
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  justify-content: space-around;
  background-color: #1e6dff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.1s cubic-bezier(1, 0, 0, 1);
}

.logo {
  text-align: center;
  letter-spacing: 3px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.nav-links a {
  display: inline-block;
  text-align: center;
  width: 80px;
  padding: 25px 5px 25px 5px;
}

.nav-links .current-link:active {
  text-decoration: underline;
  text-decoration-color: #1462f4;
  text-decoration-thickness: 3px;
  background-color: rgb(231, 234, 241);
  color: #1462f4;
}

.hamburger-menu div {
  width: 25px;
  height: 2px;
  background-color: rgb(216, 216, 199);
  margin: 6px;
  transition: all 0.5s ease-in;
}

.hamburger-menu {
  position: absolute;
  display: none;
  align-items: center;
  right: 20px;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  nav a {
    display: inline-block;
    text-align: center;
    transition: step-end;
    width: 80px;
    padding: 25px 5px 25px 5px;
  }
  .nav-links {
    position: absolute;
    right: 0;
    top: 25px;
    height: 500%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    background-color: #1e6dff;
  }
  .nav-links li {
    opacity: 0;
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
}

.nav-motion {
  transform: translateX(0%);
}

@keyframes navFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

h1 .about {
  text-decoration: underline;
  text-decoration-color: #1462f4;
  text-decoration-thickness: 3px;
  background-color: rgb(231, 234, 241);
  color: #1462f4;
}

.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(231, 234, 241);
  text-decoration-thickness: 2.5px;
  cursor: pointer;
}

.parallex-effect {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 20px;
}

header > h1.show,
.quote.show {
  transform: translateY(0);
  transition: 1s;
  opacity: 1;
}

.home {
  display: grid;
  height: 640px;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  z-index: -1;
}

.background-image {
  position: absolute;
  height: 100%;
  width: 110%;
  object-fit: cover;
  transform: translateZ(-20px) scale(2);
  filter: url("#fluffy") brightness(0.6) saturate(0.5);
}

.home h1 {
  text-align: center;
  margin-top: 200px;
  height: 70px;
  font-weight: 100;
  font-size: 60px;
  letter-spacing: 2px;
  color: white;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  transform: translateY(30px);
  opacity: 0;
}

.quote {
  display: inline-block;
  margin-bottom: 300px;
  width: 100%;
  line-height: 30px;
  text-align: center;
  color: white;
  font-style: oblique;
  font-weight: 100;
  font-variant: small-caps;
  text-shadow: 0 0 20px rgb(4, 16, 56);
  transform: translateY(30px);
  opacity: 0;
}

@media screen and (max-width: 301px) {
  .home h1 {
    margin-bottom: 39px;
    font-size: 30px;
    font-weight: bold;
  }
  .quote {
    margin-bottom: 140px;
    font-weight: bold;
  }
  h1 {
    font-size: 20px;
    font-weight: lighter;
  }
}

@media screen and (max-width: 401px) {
  .home h1 {
    margin-bottom: 39px;
    font-size: 30px;
    font-weight: bold;
  }
  .quote {
    margin-bottom: 140px;
    font-weight: bold;
  }
}

@media screen and (max-width: 800px) {
  .home h1 {
    font-size: 40px;
  }
  .quote {
    margin-bottom: 140px;
  }
}

.about-me > div {
  position: relative;
  top: 300px;
  text-align: center;
  color: white;
  text-shadow: 0 0 20px rgb(0, 0, 0);
  font-weight: 100;
  font-size: 60px;
  letter-spacing: 3px;
}

.about-me p {
  margin: 330px 50px 10px 50px;
  line-height: 130%;
  text-align: center;
  font-size: 22px;
  color: white;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}

#skills-header {
  margin-top: 120px;
  text-align: center;
  color: rgb(250, 250, 229);
  text-shadow: 0 0 5px rgb(0, 0, 0);
  font-weight: 100;
  font-size: 60px;
  letter-spacing: 3px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1px);
  justify-content: center;
  column-gap: 12rem;
  margin-right: 100px;
  margin-bottom: 60px;
}

.skills p {
  text-align: center;
  color: rgb(250, 250, 229);
  text-shadow: 0 0 5px rgb(10, 16, 41);
  padding: 50px 0 0 0;
  font-size: 24px;
}

.html {
  margin-left: 31px;
}

.css {
  margin-left: 38px;
}

.javascript {
  margin-left: 15px;
}

.postgres {
  margin-left: 4px;
}

.skills img {
  display: block;
  margin-top: 40px;
  width: 50px;
  aspect-ratio: 1;
}

.skills img {
  display: block;
  margin-top: 40px;
  width: 140px;
  aspect-ratio: 1;
  margin-left: -100%;
}

@media screen and (max-width: 550px) {
  .skills {
    grid-template-columns: repeat(1, 1px);
    margin-right: 145px;
  }
}

@media screen and (max-width: 800px) and (min-width: 551px) {
  .skills {
    grid-template-columns: repeat(4, 90px);
    column-gap: 3rem;
  }
  .skills img {
    width: 70px;
    margin-left: 70%;
  }
  .html {
    margin-left: 58px;
  }

  .css {
    margin-left: 67px;
  }

  .javascript {
    margin-left: 41px;
  }

  .postgres {
    margin-left: 33px;
  }
}

@media screen and (min-width: 1500px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10px);
    justify-content: center;
    column-gap: 25rem;
  }
  .skills img {
    margin-left: 45%;
  }
  .html {
    margin-left: 35px;
  }

  .css {
    margin-left: 40px;
  }

  .javascript {
    margin-left: 17px;
  }

  .postgres {
    margin-left: 9px;
  }
}

.portfolio {
  padding-bottom: 35px;
  display: grid;
  place-items: center;
}

.portfolio > div {
  margin-top: 50px;
  color: rgb(250, 250, 229);
  text-shadow: 0 0 5px rgb(6, 25, 88);
  font-weight: 100;
  font-size: 50px;
  letter-spacing: 3px;
}

hr {
  margin-top: 20px;
}

button:active {
  transform: scale(0.9);
}

button {
  cursor: pointer;
  margin: auto;
  margin-top: 35px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 200;
  text-decoration-color: #1462f4;
  text-decoration-thickness: 2.5px;
  background-color: rgb(231, 234, 241);
  color: #1462f4;
  text-decoration: none;
  border: 1px solid #1547a3;
}

button a {
  text-decoration: none;
}

button:hover {
  text-decoration: underline;
  text-decoration-color: #1462f4;
  text-decoration-thickness: 2.5px;
}

.contact {
  background-color: #2a9df4;
}

.contact p {
  font-size: 17px;
  color: rgb(231, 234, 241);
  text-align: center;
  margin: 30px;
}

.contact h1 {
  padding-top: 50px;
  text-align: center;
  color: rgb(250, 250, 229);
  text-shadow: 0 0 5px rgb(6, 25, 88);
  font-weight: 100;
  font-size: 50px;
  letter-spacing: 3px;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 0.5fr);
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
  color: rgb(231, 234, 241);
}

.email-phone {
  color: aliceblue;
}

.contact-container > p:hover {
  text-decoration: underline;
  text-decoration-color: rgb(231, 234, 241);
  text-decoration-thickness: 3px;
}

@media screen and (max-width: 600px) {
  .contact-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
  }
}

.contact-container i {
  color: rgb(231, 234, 241);
  margin-bottom: 35px;
}

.contact-container i:active {
  color: rgb(13, 63, 228);
}
